.heading {
  font-family: Arial;
  background: purple;
  color: antiquewhite;
  text-align: center;
  border-radius: 2vw;
  width: 97vw;
  font-size: 3vw;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-item-left {
  width: 20vw;
  min-height: 82vh;
}

.colored {
  background-color: lavender;
}

.flex-item-right {
  width: 80vw;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item-left {
    width: 90vw;
    min-height: 0vh;
  }

  .heading {
    font-size: 6vw;
  }
}
