body {
  background-color: azure;
}

hr {
  margin-left: 1vw;
  margin-right: 1vw;
}

.text {
  font-family: Arial;
}

.margined {
  margin: 1vw;
}

.gray-text {
  color: darkslategray;
}

.light-gray-text {
  color: lightslategray;
}

.bold {
  font-weight: bold;
}

.list-elements {
  line-height: 1.5rem;
}

.button {
  border-radius: 0.5vw;
  border-width: 0.01vw;
  background-color: antiquewhite;
  border-color: lightgray;
  margin: 1vw;
}

.container {
  text-align: center;
  border-radius: 2vw;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 0.7rem;
  }

  .list-elements {
    float: left;
    margin: 1vw;
  }
}
